$mu: 8px;

$neutral-100: #1b2c3c;
$neutral-90: #2b4154;
$neutral-80: #3f586b;
$neutral-70: #567083;
$neutral-60: #6f899b;
$neutral-50: #8da4b3;
$neutral-40: #adbfcb;
$neutral-30: #d0dce2;
$neutral-20: #f2f4f7;
$neutral-10: #fafbfc;
$neutral: #ffffff;

$primary-130: #0C5AA5;
$primary-120: #0C68C1;
$primary-110: #014E98;
$primary-100: #0065C4;
$primary-90: #153e66;
$primary-80: #144d85;
$primary-70: #115ba3;
$primary-60: #0a68c2;
$primary-40: #0073e0;
$primary-30: #70afef;
$primary-20: #add1f6;
$primary-10: #edf5fd;

$grey-10: #e0e0e0;
$grey-20: #c4c4c4;
$grey-40: #666565;
$grey-50: #6c6c6c;
$grey-60: #697483;

$btn-danger: #f9525c;

$positive-rate: #04e235;
$moderate-rate: #ff8000;
$negative-rate: #f00020;

$bg-tag-positive: #c3efcd;
$bg-tag-moderate: #f7ffc8;
$bg-tag-negative: #fedbd0;
$bg-tag-neutral: rgba(0, 0, 0, 0.04);
$tag-positive: #14a86d;
$tag-moderate: #7e9b08;
$tag-negative: #f66868;
$tag-neutral: rgba(0, 0, 0, 0.48);

$width-navmenu-desktop: 249px;
$height-navmenu-handheld: 100px;

$font-size-xs: 0.75rem; //12px
$font-size-sm: 0.9rem; //14px
$font-size-base: 1rem; //16px
$font-size-lg: 1.125rem; //18px
$font-size-xl: 1.25rem; //20px
$font-size-2xl: 1.5rem; //24px
$font-size-3xl: 1.875rem; //30px
$font-size-4xl: 2.25rem; //36px
$font-size-5xl: 3rem; //48px

$font-size-page-title: $font-size-5xl;
$font-size-page-title-mobile: $font-size-4xl;

$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 500;
$font-weight-4: 600;
$font-weight-5: 700;
$font-weight-6: 800;
$font-weight-7: 900;

$font-primary: "Inter", sans-serif;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-xl: 24px;
