{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "next",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "mui-path-imports"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "."
      }
    }
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/no-unescaped-entities": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-var-requires": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-autofocus": "off",
    "mui-path-imports/mui-path-imports": "error"
  }
}
